<!DOCTYPE html>
<html>
<head>
  <title>page</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<header>
FX-u-like
</header>
  <%= yield %>
<footer></footer>
</body>
</html>