<!DOCTYPE html>
<html>
<head>
  <title>page</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200" rel="stylesheet">
</head>
<body>
<header>
<div class="logo">
<span>FX-u-like</span>
<span>FX-u-like</span>
</div>
</header>
  <%= yield %>
<footer></footer>
</body>
</html>