<div class="results" >

 you have just converted <h3><%=@result[1] %>: <%=@result[0]%></h3> into <h2><%= @result[3] %>: <%= @result[5] %></h2>

<div class="go_back">Want to convert more currency?<a href="/"><button class="button">back</button></a></div>
</div>  
