
body{
  background: white;
  font-family: 'Work Sans', sans-serif;
  color: steelblue;
  font-size: 1.3rem;
}

/*-------------------
  logo
-------------------*/

.logo{
  width: 400px;
  height: 125px;
  position: relative;
  font-size: 4rem;
  margin: 50px 0 0 70px;
}

.logo>span{
  position: absolute;
  top: 0;
  left: 0;
}

.logo :nth-child(2){
  color: yellowgreen;
  clip: rect(0 400px 125px 100px);
}

.logo :nth-child(1){
  color: steelblue;
  clip: rect(0 100px 125px 0);
}


/*-------------------
  form
-------------------*/

select, input, option, .button{
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 250px;
  font-size: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius: 0px;
  appearance: none;
  color: yellowgreen;
}

select{
  background-image:url("/drop-down-icon-lime.png");
  background-repeat: no-repeat;
  background-position: 95% 50%;
  background-size: 18px;
}

input{
  width: 100px;
}

.select_date{
  width: 175px;
}

option:focus {
  outline: none;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}


/*-------------------
  form positioning
-------------------*/

.form{
  padding: 10px;
  margin-left: 50px;
  width: 700px;
}

.date_amount{
  float: left;
  width: 40%;
  text-align: right;
}

.ccy_selection{
  float: right;
  margin-top: 61px;
  width: 59%;
  text-align: right;
}

.to{
  margin-right: 15px;
}

/*-------------------
  button
-------------------*/

.button{
  height: 40px;
  margin-top: 90px;
  width: 100px;
  -webkit-box-shadow: 5px 5px 4px -2px rgba(61,61,61,0.57);
  -moz-box-shadow: 5px 5px 4px -2px rgba(61,61,61,0.57);
  box-shadow: 5px 5px 4px -2px rgba(61,61,61,0.57);
}

.button:hover{
  transition: all .2s;
  background-color: lightblue;
  color: white;
}

.button:focus{
  outline: none;
  background-color: steelblue;
  margin: 90px 7px 10px 13px;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(61,61,61,0.57);
  -moz-box-shadow: 0px 0px 0px 0px rgba(61,61,61,0.57);
  box-shadow: 0px 0px 0px 0px rgba(61,61,61,0.57);
}


/*-------------------
  results page
-------------------*/

.results{
  margin: 50px;
  padding-left: 20px;
}

h3{
  display: inline;
  width:150px;
}








