body{
  background: white;
  color: black;
}


/*-------------------
    logo
-------------------*/

.logo{
  width: 400px;
  height: 125px;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  font-size: 4rem;
  margin: 50px 0 0 70px;
}

.logo>span{
  position: absolute;
  top: 0;
  left: 0;
}

div :nth-child(2){
  color: yellowgreen;
  clip: rect(0 400px 125px 100px);
}
div :nth-child(1){
  color: steelblue;
  clip: rect(0 100px 125px 0);
}


/*-------------------
    form
-------------------*/

.signup-form{
  text-align: center;
}


input{
  transition: all .9s;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 20vw;
}

/*input:focus {
  transition: all .9s;
  outline:none;
  background-color: #929ca5;
  color: white;
}
*/


/*
.login-form{
  position: inline;
  float: left;
  width: 500px;
  margin:0;
  margin-top: 30px;
  margin-left: 100px
}

.signup-form{
  float: right;
  width: 500px;
  margin:0;
  margin-top: 10px;
  margin-right: 100px
}

.login-box{
  margin-top: 30px;
}

.input-image-form{
  margin-top: 70px;
}*/

option, select{
  transition: all .9s;
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 20vw;
  height: 40px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-size: 1rem;
  color: #444f59;
}
.styled-select select {
  font-size: 14pt;
  height: 10px;
}

select {
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}


button{
  background: white;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  width: 20vw;
  color: #929ca5;
  transition: all .9s;
}

/*button:hover{
  transition: all .4s;
  background-color: black;
  color: white;
}

button:focus{
  outline: none;
  background-color: steelblue;
}
*/
option:focus {
  outline: none;
}

select:focus {
  outline: none;
}



